.white{
  color: white;
}

.icon {
  font-size: 200px;
}

.tit {
  text-align: center;
  font-size: 200px;
}

.subtit {
  text-align: center;
  font-size: 100px;
}

.center {
  margin: auto;
  width: 100%
}

p span.p-span-center{
  display: block;
  text-align: center;
}

.tcenter {
  text-align: center;
}

.p-img-center img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.f100 {
  font-size: 100px;
}

.f60 {
  font-size: 60px;
}

.f50 {
  font-size: 50px;
}

.f40 {
  font-size: 40px;
}

.f40 code {
  font-size: 40px;
}

.f30 {
  font-size: 30px;
}

.f20 {
  font-size: 20px;
}

.f25 {
  font-size: 25px;
}

.red {
    color: "red";
}


.Tbox-orange {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  font-size: 60px;
  color: white;
  padding: 15px;
}

